html, body {
  background-color: black;
  height: 100%;
  width: 100%;
  font-family: "Lucida Console", monospace;
}
body {
  color: lightblue;
}
h1 {
  color: lightblue;
  text-align: left;
  margin-bottom: 19px;
  padding: 0;
}
p {
    width: 78%;
      margin-bottom: 19px;

}
button {
    border-radius: 19px
}
.redirect {
    background-color: blue;
    border-color: lightblue;
    margin: 3;
    padding: 50;
    align-content: center;
    position: inherit;
    color: white;
    height: 41px;
    width: 100px;
}
* {
  margin: 0;
  padding: 0;
}