html, body {
  background-color: black;
  height: 100%;
  width: 100%;
  font-family: "Lucida Console", monospace;
}
body {
  color: lightblue;
}
h1 {
    color: lightblue;
}
.maintext {
    margin-bottom: 19px;
    padding: 10px;
    --aug-border: initial;
    --aug-border-all: 6px;
    --aug-border-bg: blue;
    --aug-clip-tr1: initial;
    --aug-tr1: 22px;
}

@media(orientation: landscape){
    .title{ width: 50%}
    .maintext{ width: 50% }
    .projcontainer{ width: 25%}
}
@media(orientation: portrait){
    .title{ width: auto}
    .maintext{ width: auto}
    .projcontainer{ width: auto}
}

button {
    border-radius: 19px
}

.button{
    text-decoration-color: aqua;
    padding: 6px;
    color: aqua;
    --aug-inlay: initial;
    --aug-inlay-all: 2px;
    --aug-inlay-opacity: 2;
    --aug-border: initial;
    --aug-border-all: 5px;
    --aug-border-bg: blue;
}
.button:not(:hover) {
    --aug-inlay-bg: radial-gradient(darkblue,black);
    --aug-clip-tr1: initial;
    --aug-tr1: 10px;
    --aug-clip-bl1: initial;
    --aug-bl1: 10px;
}
.button:hover {
    --aug-inlay-bg: radial-gradient(black,darkblue);
    --aug-clip-tl1: initial;
    --aug-tl1: 10px;
    --aug-clip-br1: initial;
    --aug-br1: 10px;
}
.title {
    --aug-clip-tr: initial;
    --aug-border-all: 8px;
    --aug-border-bg: radial-gradient(
      at top, blue 75%, transparent 96%);
    --aug-inlay-all: 7px;
    --aug-inlay-bg: radial-gradient(blue, darkblue);
    --aug-inlay-opacity: 0.4;
    text-align: left;
    margin-bottom: 19px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 24px;
    padding-right: 24px;
    word-wrap: break-word;
    height: auto;
}
.projcontainer{
    display: grid;
    padding: 20px;
    margin: 12px;
    --aug-border: initial;
    --aug-border-all: 7px;
    --aug-border-bg: darkblue;
    --aug-clip-tr1: initial;
    --aug-tr1-clipmod-x: -7;
    --aug-tr1: 37px;
}
.projtitle{
    margin-bottom: 5;
    padding-left: 0;
    margin-right: 35px;
    --aug-border: initial;
    --aug-border-bg: darkblue;
    --aug-clip-tr1: initial;
    --aug-tr1: 10px
}
* {
  margin: 0;
  padding: 0;
}